<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcalendar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.example.smartcalendar.ApplicationData"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.smartcalendar.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.smartcalendar.DisplayMonthActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smartcalendar.DisplayYearActivity"
            android:label="@string/title_activity_display_year"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smartcalendar.AddEventActivity"
            android:label="@string/title_activity_add_event" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smartcalendar.DisplayWeekActivity"
            android:label="@string/title_activity_display_week" 
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
